<p>
<div class="row">
  <div class="large-12 columns">
    <h1>Questions <small>Overview</small></h1>



    <br>

    <%= paginate @questions %>
    <br>
    <table style="border-collapse: collapse">
      <thead>
      <tr>
        <th>Question</th>
        <th>Interval</th>
        <th>Scale</th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @questions.each do |question| %>
          <tr class="showrow">
            <td onclick="document.location.href='/questions/<%=question.id%>'"><%= question.question %></td>
            <td onclick="document.location.href='/questions/<%=question.id%>'"><%= question.interval %></td>
            <td onclick="document.location.href='/questions/<%=question.id%>'"><%= question.scale.name %></td>
            <td><%= link_to 'Edit', edit_question_path(question) %></td>
            <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @questions %>

    <br>

    <%= link_to 'New Question', new_question_path, { :class => "button"} %>
  </div>
</div>
</p>
