<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1><%= image_tag "images4040.png" %> <%= @trial.name %> <small><%= @trial.summary %></small></h1>
    </div>
  </div>
</div>

<div class="row">


  <div class="large-3 columns ">
    <div class="panel">
      <a href="#"><%= image_tag "Red_Blue_Pill.jpg" %></a>
      <h5><a href="#"><%= current_user.full_name %></a></h5>
      <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
        <section class="section">
          <h5 class="title"><a href="#">Contact</a></h5>
        </section>
      </div>

    </div>
  </div>



  <div class="large-6 columns">
    <% if @answers.count > 0 %>
        <%= form_tag(answer_answers_path, :method => :put) do -%>

            <%= render :partial => "answers/form", :locals => {:answers => @answers, :embedded => true} %>
            <input class="button" type="submit" value="Submit" />

        <% end -%>
    <% else %>
        Es stehen im Moment keine Fragen zum Beantworten zur Verf&uuml;gung
    <% end %>
  </div>

  <aside class="large-3 columns hide-for-small">
    <p><img src="http://placehold.it/300x440&text=[ad]"/></p>
    <p><img src="http://placehold.it/300x440&text=[ad]"/></p>
  </aside>

</div>

