<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1><%= image_tag "images4040.png" %> <%= @trial.name %> <small><%= @trial.summary %></small></h1>
    </div>
  </div>
</div>

<div class="row">


  <div class="large-3 columns ">
    <div class="panel">
      <a href="#"><%= image_tag "Red_Blue_Pill.jpg" %></a>
      <h5><a href="#"><%= current_user.full_name %></a></h5>
      <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
        <section class="section">
          <h5 class="title"><a href="#">Contact</a></h5>
        </section>
      </div>

    </div>
  </div>



  <div class="large-6 columns">

    <% @trial_questions.each do |tq| %>
    <div class="row">
      <div class="large-2 columns small-3"><%= image_tag "437048.jpg" %></div>
      <div class="large-10 columns">
        <p><strong>Question: </strong><%= tq.question %> </p>
        <p><strong>Answer: </strong><% @answer = tq.answers.where( user_id: current_user.id ).first %>
          <%= render :partial => "scales/form_Likert_1-5_Schmerzen" %>
          <!--#{tq.scale.name.downcase.gsub(' ','_')}" -->

        </p>
        <ul class="inline-list">
          <li><a href="">Answer</a></li>
          <li><a href="">Help</a></li>
        </ul>
      </div>
    </div>
    <% end %>

    <hr/>


  </div>



  <aside class="large-3 columns hide-for-small">
    <p><img src="http://placehold.it/300x440&text=[ad]"/></p>
    <p><img src="http://placehold.it/300x440&text=[ad]"/></p>
  </aside>

</div>


<footer class="row">
  <div class="large-12 columns">
    <hr>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright no one at all. Go to town.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Trials", trials_path %></li>
          <li><%= link_to "Roles",roles_path %></li>
          <li><%= link_to "Organizatios", organizations_path %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

