<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @trials_question.id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @trials_question.question %>
</p>

<p>
  <strong>Trial:</strong>
  <%= @trials_question.trial %>
</p>

<%= link_to 'Edit', edit_trials_question_path(@trials_question) %> |
<%= link_to 'Back', trials_questions_path %>
