<p>
<div class="row">
  <div class="large-12 columns">
    <h1>Trials <small>Overview</small></h1>

    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Summary</th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody style="border-collapse: collapse">
      <% @trials.each do |trial| %>
          <tr class="showrow">
            <td onclick="document.location.href='/trials/<%=trial.id%>'">  <%= trial.id %></td>
            <td onclick="document.location.href='/trials/<%=trial.id%>'">  <%= trial.name %></td>
            <td onclick="document.location.href='/trials/<%=trial.id%>'">  <%= trial.summary %></td>
            <td><%= link_to 'Edit', edit_trial_path(trial) %></td>
            <td><%= link_to 'Destroy', trial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Trial', new_trial_path, { :class => "button"} %>
  </div>
</div>
</p>
