<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @trial.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @trial.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trial.description %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @trial.summary %>
</p>

<%= link_to 'Edit', edit_trial_path(@trial) %> |
<%= link_to 'Back', trials_path %>
