<p>
<div class="row">
  <div class="large-12 columns">
    <p id="notice"><%= notice %></p>
    <h1>
      <%= image_tag "images4040.png" %>
      <%= @trial.name %>
      <small>
        (<%= link_to @trial.organization.name, organization_path(@trial.organization.id) %>)
      </small>
      <br>
      <small>
        <%= @trial.summary %>
      </small>
    </h1>
    <br>

    <dl class="accordion" data-accordion>
      <dd class="accordion-navigation">
        <a href="#panel1a">Overview</a>
        <div id="panel1a" class="content active">
          <fieldset>
            <legend>Description</legend>
            <div id="description">
            <%= @trial.description %>
            </div>
          </fieldset>
          <%= link_to 'Edit', edit_trial_path(@trial) %> |
          <%= link_to 'All Trials', trials_path %>
        </div>
      </dd>
      <dd class="accordion-navigation">
        <a href="#panel2a">Catalog</a>
        <div id="panel2a" class="content">
          <fieldset>
            <legend>Questions</legend>
            <% @trial.questions.each do |question| %>
                <%= question.id %>: <%= question.question %><br>
            <% end %>
            <%= link_to 'Edit', edit_trial_path(@trial) %> |
            <%= link_to 'All Trials', trials_path %>
          </fieldset>


        </div>
      </dd>
    </dl>
  </div>
</div>
</p>


<script>
  function toggleEdit() {
      var width = $('#description').width();
      var height = $('#description').height();
      $('#description').replaceWith('<textarea style="width:' + width + 'px;height:' + height + 'px"><%= @trial.description %></textarea>');
  }

</script>

<input type="button" value="Edit" onclick="toggleEdit()">
