<%= form_for(setup_user(@user)) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <div data-alert class="alert-box alert round">
              <%= msg %>
            </div>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>

  <% if can? :update, Role %>
    <div class="field">
      <%= f.label :role %><br>
      <%= collection_select(:user, :role_id, @roles, :id, :name)  %>
    </div>
  <% end %>

  <%= f.fields_for :address do |builder| %>
    <%= render :partial => 'addresses/address_fields', :locals => {:f => builder} %>
  <% end %>

  <% if can? :create, Organization%>
    <div class="field">
      <%= f.label :organization %><br>
      <%= collection_select(:user, :organization_id, @organizations, :id, :name)  %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit save_or_update_button(@user), :class => "button"%>
    <%= cancel_button() %>

  </div>
<% end %>
