<p>
<div class="row">
  <div class="large-12 columns">


    <h1>Users <small>Overview</small></h1>

    <table style="border-collapse: collapse">
      <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Role</th>
        <th>Organization</th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody style="border-collapse: collapse">
      <% @users.each do |user| %>
          <tr class="showrow">
            <td onclick="document.location.href='/users/<%=user.id%>'"><%= user.first_name %></td>
            <td onclick="document.location.href='/users/<%=user.id%>'"><%= user.last_name %></td>
            <td onclick="document.location.href='/users/<%=user.id%>'"><%= user.role.name %></td>
            <td><%= user.organization.nil? ? "" : link_to( user.organization.name, organization_path(user.organization.id)) %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New User', new_user_path, { :class => "button"} %>

  </div>
</div>
</p>