<p>
<div class="row">
  <div class="large-12 columns">

    <p>
      <strong>First name:</strong>
      <%= @user.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @user.last_name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Role:</strong>
      <%= @user.role.name %>
    </p>

    <% unless @user.address.nil?  %>
        <p>
          <strong>Street:</strong>
          <%= @user.address.street %>
        </p>
        <p>
          <strong>City:</strong>
          <%= @user.address.city%>
        </p>
        <p>
          <strong>PLZ:</strong>
          <%= @user.address.city_code %>
        </p>
        <p>
          <strong>Country:</strong>
          <%= @user.address.country %>
        </p>
    <% end %>

    <p>
      <strong>Organization:</strong>
      <%= @user.organization.nil? ? "" : link_to( @user.organization.name, organization_path(@user.organization.id) ) %>
    </p>

    <% unless @user.trials_users.empty? %>
        <p>
          <strong>My Trials Participation:</strong><br>
          <%= link_to  Trial.find_by_id(@user.trials.last.id).name , trial_path(@user.trials.last.id) %>
        </p>
    <% end %>

          <%= button_tag( "Edit", :type => :button, :class => "button", :onclick => "document.location.href='#{edit_user_path(@user)}'" )%>
          <%= button_tag( "Add To trial", :type => :button, :class => "button", :onclick => "document.location.href='#{new_trials_user_path(@user.id)}'" )%>
          <%= cancel_button() %>
 
  </div>
</div>
</p>
