<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role.name %>
</p>

<% unless @user.address.nil?  %>
    <p>
      <strong>Street:</strong>
      <%= @user.address.street %>
    </p>
    <p>
      <strong>City:</strong>
      <%= @user.address.city%>
    </p>
    <p>
      <strong>PLZ:</strong>
      <%= @user.address.city_code %>
    </p>
    <p>
      <strong>Country:</strong>
      <%= @user.address.country %>
    </p>
<% end %>

<p>
  <strong>Organization:</strong>
  <%= @user.organization.nil? ? "" : @user.organization.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
