<% answers.each_with_index do |answer, i| %>
    <%= fields_for "answers[]", answer do |f| %>

        <div class="row">
          <div class="large-2 columns small-3"><%= image_tag "437048.jpg" %></div>
          <div class="large-10 columns">

            <% if answer.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

                  <ul>
                    <% answer.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <fieldset>
              <legend><%= answer.question.question %></legend>

            <%
               length = answer.question.scale.scale_end - answer.question.scale.scale_start
               case length
                 when 0
                   # Freitext
            %>
                <%= f.text_area(:value_text) %>
            <%
               when 1
                 #Ja/Nein
            %>
                <%= format_scale(answer, f) %>
            <%
               else
                 # Multiple choice
            %>
                <%= format_scale(answer, f) %>
            <%
               end

               unless embedded
            %>
                <div class="actions">
                  <%= f.submit %>
                </div>
            <%
               end
            %>
            </fieldset>
          </div>
        </div>
    <% end %>
<% end %>




