<div class="center row">
  <div class="section-container tabs" data-section="tabs">
    <section class="active">
      <p class="title" data-section-title><a href="/users/sign_up">Sign Up</a></p>
      <div class="content" data-section-content>
        <p>
        <div class="row">
          <div class="large-12 columns">
            <div class="signup-panel">
              <p class="welcome">Welcome back!</p>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true %>
                  </div>

                  <div class="field">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "off" %>
                  </div>

                  <% if devise_mapping.rememberable? -%>
                      <div class="field">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                      </div>
                  <% end -%>

                  <div class="actions">
                    <%= f.submit "Log in" %>
                  </div>
              <% end %>
            </div>
            </form>
            <a href="#" class="button ">Sign In! </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<%= render "devise/shared/links" %>


