<%= form_for(@trials_user) do |f| %>
  <% if @trials_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trials_user.errors.count, "error") %> prohibited this trials_user from being saved:</h2>

      <ul>
      <% @trials_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br>
    <%= collection_select(:trials_user, :user_id, @users, :id, :full_name)  %>
  </div>
  <div class="field">
    <%= f.label :trial %><br>
    <%= collection_select(:trials_user, :trial_id, @trials, :id, :name)  %>
  </div>
  <div class="field clearfix">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date, {}, :class => "forceleft"  %>
  </div>
  <div class="field clearfix">
    <%= f.label :end_date, {} %><br>
    <%= f.date_select :end_date, {}, :class => "forceleft" %>
  </div>
  <div class="actions">
    <%= f.submit @trials_user.id.nil? ? "Hinzuf&uuml;gen".html_safe : "Speichern", :class => "button"%>
  </div>
<% end %>
