<div class="large-6 columns">
  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>
</div>
<div class="large-6 columns">
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
</div>
<div class="large-6 columns">
  <div class="field">
    <%= f.label :city_code %><br>
    <%= f.number_field :city_code %>
  </div>
</div>
<div class="large-6 columns">
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
</div>


