<p>
<div class="row">
  <div class="large-12 columns">


  <h1>Organizations <small>overview</small></h1>

<table style="border-collapse: collapse">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr class="showrow">
        <td onclick="document.location.href='/organizations/<%=organization.id%>'"><%= organization.name %></td>
        <td onclick="document.location.href='/organizations/<%=organization.id%>'"><%=  organization.address.city if organization.address  %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

 <%= link_to 'New Organization', new_organization_path, { :class => "button"} %>
</div>
</div>
</p>
