<p>
<div class="row">
  <div class="large-12 columns">

<p id="notice"><%= notice %></p>

<% unless @organization.address.nil?  %>
<p>
  <strong>Street:</strong>
  <%= @organization.address.street %>
</p>
<p>
  <strong>City:</strong>
  <%= @organization.address.city%>
</p>
<p>
  <strong>PLZ:</strong>
  <%= @organization.address.city_code %>
</p>
<p>
  <strong>Country:</strong>
  <%= @organization.address.country %>
</p>
<% end %>

<p>
  <strong>Trials:</strong><br>
    <% @organization_trials.each do |trial| %>
      <%= link_to trial.name, trial_path(trial.id) %>: <%= trial.summary %> <br>
    <% end %>
</p>


<%= link_to 'Edit', edit_organization_path(@organization) %>
<%= link_to 'Back', organizations_path %>

</div>
</div>
</p>
