<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @organization.name %>
</p>

<% unless @organization.address.nil?  %>
<p>
  <strong>Street:</strong>
  <%= @organization.address.street %>
</p>
<p>
  <strong>City:</strong>
  <%= @organization.address.city%>
</p>
<p>
  <strong>PLZ:</strong>
  <%= @organization.address.city_code %>
</p>
<p>
  <strong>Country:</strong>
  <%= @organization.address.country %>
</p>
<% end %>


<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
