<p>
<div class="row">
  <div class="large-12 columns">

    <% unless @organization.address.nil?  %>
      <p>
        <strong>Street:</strong>
        <%= @organization.address.street %>
      </p>
      <p>
        <strong>City:</strong>
        <%= @organization.address.city%>
      </p>
      <p>
        <strong>PLZ:</strong>
        <%= @organization.address.city_code %>
      </p>
      <p>
        <strong>Country:</strong>
        <%= @organization.address.country %>
      </p>
    <% end %>

    <p>
      <strong>Trials:</strong><br>
      <% @organization_trials.each do |trial| %>
        <%= link_to trial.name, trial_path(trial.id) %>: <%= trial.summary %> <br>
      <% end %>
    </p>

    <div class="actions">
      <%= button_tag( "Edit", :type => :button, :class => "button", :onclick => "document.location.href='#{edit_organization_path(@organization)}'" )%>
      <%= button_tag( "Back", :type => :button, :class => "button", :onclick => "document.location.href='#{organizations_path}'" )%>
    </div>

  </div>
</div>
</p>
